/* print.css Print Styles */


html {
  margin: auto;
}

div#header img {
    width:  300px; 
    margin: 40pt 0pt;
}

h1 {
  font-family: "Montserrat", "Myriad Pro", Arial, sans-serif;
  font-size: 20pt;
}

h2 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 30pt;
  color: black;
  margin: 35pt 0pt 10pt 0pt;
}

a, a:visited {
  color: black;
}
/************IMAGES***********/

#short-print, #short-digital {
  display: block;
  width: 100%;
}
ul img {
  width: 100pt;
  display: inline;
  float: left;
}

ul li img {
    margin: 10pt 10pt 30pt 0pt;
}

.tall img {
  width: 40pt;
  height: 110pt;
}
*/
div#footer {
clear: both;
}
div#footer img {
  width: 20pt;
}

div#footer h3 {
  margin: 20pt 0pt 10pt 0pt;
}

div#home-about p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 15pt;

}

div#home-about {
    margin: 12pt 30pt;
}

.function {
font-weight: bold;
margin-top: .5em;
}
div#content p, div#resume p,
div#content li, div#resume li {
    font-family:  Arial, sans-serif;
    font-size:  12pt;
    margin-bottom: 5pt;
}

div#content h3, div#resume h3,
div#footer h3 {
    font-family: Arial, sans-serif;
    font-size: 20pt;
    line-height: 25pt;
    margin: 10pt 0pt 3pt 0pt;

h4 {
    font-weight: bold;
    font-size: 14pt;
}

div#wrapper {
    width: 82%; 
    margin: 0 auto;
}



/*div#big-blurb p, div#big-blurb-home p{
  font-family: "Monserrat", Arial, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  margin: 2em 1em;
}

div#footer img {
    width: 50px;
    margin: 30pt;
}












/* Base Styles */

/* Bold on headings, b, and strong */
/*h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
/*i,em,cite { font-style: italic; }

/*
  Print all text color as black, including links.
*/

/* { color: black; }

/*
  Hide the accessibility navigation, the site navigation,
  and the validator links, which are unhelpful when a page
  is printed.
*/

ul.accessibility,
ul#navigation,
ul.validators {
	display: none;
}


/*
  Automatically print the URLs from hyperlinks in the
  content area of a page, and put them in a monospace font,
  in parentheses. 
  This may not work on less standards-compliant browsers,
  which do not support the :after pseudoelement and/or 
  the content: property.
  See http://www.alistapart.com/articles/goingtoprint/
*/
/*
div#content a:link:after,
div#content a:visited:after {
   content: " [" attr(href) "] ";
  /* font-size: 90%; */
 /*  font-family: "Courier New", Courier, monospace;
}

/*
  Treat acronyms and abbreviations similarly, but
  run the expansion in the title attribute in 
  parentheses.
*/
/*
abbr:after,
acronym:after {
     content: " (" attr(title) ") ";
}
*/