/* print.css Print Styles */


html {
  margin: 15pt 20pt;
}
div#header img {
    width:  300px; 
    margin: auto;
}

p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 13pt;
}

div#big-blurb, div#big-blurb-home {
  font-family: "Monserrat", Arial, sans-serif;
  font-size: 18pt;
  font-weight: bold;
  margin: 2em 1em;
}

div#footer img {
    width: 50px;
    margin: 30pt;
}

























/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }

/*
  Print all text color as black, including links.
*/

* { color: black; }

/*
  Hide the accessibility navigation, the site navigation,
  and the validator links, which are unhelpful when a page
  is printed.
*/

ul.accessibility,
ul#navigation,
ul.validators {
	display: none;
}


/*
  Automatically print the URLs from hyperlinks in the
  content area of a page, and put them in a monospace font,
  in parentheses. 
  This may not work on less standards-compliant browsers,
  which do not support the :after pseudoelement and/or 
  the content: property.
  See http://www.alistapart.com/articles/goingtoprint/
*/

div#content a:link:after,
div#content a:visited:after {
   content: " [" attr(href) "] ";
  /* font-size: 90%; */
   font-family: "Courier New", Courier, monospace;
}

/*
  Treat acronyms and abbreviations similarly, but
  run the expansion in the title attribute in 
  parentheses.
*/

abbr:after,
acronym:after {
     content: " (" attr(title) ") ";
}
