/* screen.css: Screen Styles */

/* Base Styles */

/* colors
muted purple: #5B5870 (k in logo)
muted teal: #525C6A
muted 

*/

/* ids and classes
index # : page, banner, header, navigation, content-body, sidebar, content, shortworks, connect-short, footer
index . : home, about, work, connect, blurb, short-works

*/


/*HTML*/
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

/* Body */

body {
background: #D0CAB4;
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {
}



/* Header */
div#header {
position: relative;
width: 43.94%;
float: left;

}

div#header img {
padding: 0 0 0 30px;
}

div#header h1 {
font-size: 300%;
padding: 0 0 0 20px;
}

/*Sidebar, about me brief*/
div#sidebar {
position: absolute;   
left: 0px; 
width: 27.5%;
margin: 350px 20px 0px 30px;
padding: 15px 15px 400px 20px;
/*background-color: #D0C8B4;*/
}

div#skillshapes {
background: black;
margin-top: 30px;
}
.circle-1 {
width: 6%;
background: orange;
padding: 80px;
border-radius: 100px;
float: left;
margin: 5px;
}

.square-1 {
width: 6%;
background: blue;
padding: 80px;
border-radius: 20px;
float: left;
margin: 5px;
}

.circle-2 {
width: 6%;
background: yellow;
padding: 80px;
border-radius: 100px;
float: left;
margin: 5px;
}

.square-2 {
width: 6%;
background: green;
padding: 80px;
border-radius: 20px;
float: left;
}

.circle-3 {
width: 6%;
background: pink;
padding: 80px;
border-radius: 100px;
float: left;
}

.square-3 {
width: 6%;
background: grey;
padding: 80px;
border-radius: 20px;
float: left;
}




/* Content */
div#content {
position: relative;
float:left;
width: 52.5%;
/* background-color: red; */
margin: 170px 10px 0px 0px;
}

div.shortworks {
float: left;
background: #D0C8B4;
width: 55%;
padding: 15px 15px 50px 20px;
margin: 15px;
margin-bottom: 40px;
}

div.shortworks h3 {
border-top: 3px solid green;
float: left;
margin-right: 30px;
}

div.shortworks img {
border-style: none;
}

/*Navigation*/
ul#navigation {
width: ;
}

ul#navigation li a{
font-family: Georgia, serif;
font-weight: 600;
font-size: 150%;
color: #fff;
}

.about, .work, .home, .connect {
width: 6%;
float: left;
padding: 145px 70px 15px 20px; 
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
margin: 0px;
}


.home {
background-color: #4F5865;
}

.home:active {
border-radius: 30px;
}

.about {
background-color: #455263;
}

.work {
background-color: #6F617B;
}

.connect {
background-color: #5B5870;
}

