/* screen.css: Screen Styles */

/* Base Styles */

/* colors
muted purple: #5B5870 (k in logo)
muted teal: #525C6A
muted 

*/

/* ids and classes
index # : page, banner, header, navigation, content-body, sidebar, content, shortworks, connect-short, footer
index . : home, about, work, connect, blurb, short-works
*/


/*HTML*/
html {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #C1C0BE;
/* IE1 */ 
background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C1C0BE));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%);
}

/* Body */

/* body {
background-color: #FCF7E6;
} */

/* Major Divisions */

/* Page (Containing Div) */

div#page {
margin: auto;
padding: 0 1em;
max-width: 80.75em; /* 1292 / 16px= 80.75%*/
/*background: yellow; */
}

/* Header */

div#topblock {
background: grey;
}

div#header {
display: block;
float: left;
width:  38.08%;  /*   492 / 1292 = .3808 */
/* margin-left:  12.69%;    /*    164 / 1292= .1269    */
/* background: red; */
}


div#header img {
/* width:  27.05%;    349.5 / 1292 = .2705 */
width: 349.5px;
}

/* div#header h1 {
}   */

/*Navigation*/
ul#navigation {
/*width: 39.62% ;   /*  512 / 1292 = .3962  */
display: inline;
float: right;
 /*margin-left: 9.52%;    /*distance between logo header and navigation     123 / 1292= .0952    */
}

ul#navigation li a{
font-family: Georgia, serif;
/*font-weight: bold;  */
font-size: 1.1em;
color: #fff;
}

.about, .work, .home, .connect {
width: 9.9%;     /*128 / 1292 = .0990 */
float: left;
padding: 100px 50px 15px 20px; 
/* border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px; */
margin: 0px;
}

.home {
background-color: #434157;
border-bottom-left-radius: 15px;
}

.home:active, .home:hover {
border-radius: 30px;
}

.about {
background-color: #3B4652;
}

.work {
background-color: #493D55;
}

.connect {
background-color: #43405D;
border-bottom-right-radius: 15px;
}

/*Skills bar on homepage */
div#mainbar {
display: block;
/* position: absolute; */
/*left: 0px;  */
position: relative;
float: left;
width: 100%;     /*308 / 1292 = .23839  */
/* margin: 200px 20px 0px 30px;
padding: 15px 15px 400px 20px;
/*background-color: #D0C8B4;
margin-top: .*/
}

/*Sidebar, like main bar, but on the side*/
div#sidebar {
display: block;
/* position: absolute; */
/*left: 0px;  */
position: relative;
float: left;
width: 19.97%;     /*258 / 1292 = .19969  */
/* margin: 200px 20px 0px 30px;
padding: 15px 15px 400px 20px;
/*background-color: #D0C8B4;
margin-top: .*/
}

div#skillshapes {

background: blue;
/* margin-top: 30px; */
width: 100%;
margin-top:  4.14%; /* 53.5/1292 = .0414 */
}


p.blurb {
display: inline;
font-size: 20px;
color: #3D3348;
font-weight: bold;
}

div#skillshapes p {
font-family: Georgia, sans-serif;
font-weight: bold;
}

.circle-1 {
width: 6%;
background: #8682AC;
padding: 75px;
border-radius: 15px;
float: left;
margin: 5px;
}

.square-1 {
width: 6%;
background: #354251;
padding: 75px;
float: left;
margin: 5px;
margin-left: 1.54%;   /* 20/1292= .015479 */
border-radius: 15px;

}

.circle-2 {
width: 6%;
background: #7E92A9;
padding: 75px;
border-radius: 15px;
float: left;
margin: 5px;
margin-left: 1.54%;   /* 20/1292= .015479 */
}

.square-2 {
width: 6%;
background: #203042;
padding: 75px 90px;
float: left;
margin: 5px;
margin-left: 1.54%;   /* 20/1292= .015479 */
border-radius: 100px;

}

.circle-3 {
width: 6%;
background: #BEB289;
padding: 75px;
border-radius: 15px;
float: left;
margin: 5px;
margin-left: 1.54%;   /* 20/1292= .015479 */
}

.square-3 {
width: 6%;
background: #453753;
padding: 75px;
float: left;
margin: 5px;
margin-left: 1.54%;   /* 20/1292= .015479 */
border-radius: 15 px;

}

.square-3: hover {
border-radius: -100px;
}



/* Content */

div#content-body {
float: left;
/* padding-left: 30px;  */
}

/* Introductory Large text */
div#big-blurb {
display: inline;
float: left;
margin-right: 400px;
/*padding: 20px 400px 0px 80px; */
}

div#big-blurb p {
font-size: 3em;  
font-family: Impact, "Arial Black", "Myriad Pro", Arial, serif;
color: #7E92A9;
font-weight: bold;
  /*margin-left:  12.69%;      164 / 1292= .1269    */
margin-bottom:  3.25%;      /*   42 / 1292 = .0325   */
margin-top:  7.2%;   /*  94 / 1292 =  .0727  */
}

div#content {
/* position: relative;  */
float: left;
width: 100%;   /*564 / 1292 = .4365  */
/* background-color: red; */
margin-top:  4.14%; /* 53.5/1292 = .0414 */
/*  margin: 170px 10px 0px 0px;  */
}

div#work-content {
/* position: relative;  */
float: left;
width: 78%; /*53.87%;   696 / 1292 = .53869  */
margin-top:  4.14%; /* 53.5/1292 = .0414 */
/*  margin: 170px 10px 0px 0px;  */
}

div#work-content h2{
font-size: 3em;
color: grey;
font-family: Impact, sans-serif;
}

div#short-print, div#short-digital {
display: block;
position: relative;
float: left;
width: 48%;  /*  492/1292= .3808    math is too short, actual percentage is guesstimate*/
padding-bottom:   4.14%; /* 53.5/1292 = .0414 */

}

div#short-print {
/* background: pink; */
}

div#short-print h2 {
text-align: center;
font-size: 2.5em;
color: white;
font-weight: bold;
}

div#short-print img {
position: relative;
float: left;
}

div#short-print p {
font-size: 1.2em;
color: grey;
}

div#short-digital {
margin-left: 1.54%;   /* 20/1292= .015479 */
/* background: orange; */
}

div#short-digital h2 {
text-align: center;
font-size: 2.5em;
color: gray;
font-weight: bold;

}

div#short-digital img {
position: relative;
float: left;
}

div#work-print, div#work-digital {
display: block;
position: relative;
float: left;
width: 50%;  /*  492/1292= .3808    math is too short, actual percentage is guesstimate*/
padding-bottom:   4.14%; /* 53.5/1292 = .0414 */
}


/* About Page specific */

div#general p, div#stats ul {
width: 75%;
font-size: 1.5em;
line-height: 1.6em;
}



/*  Footer   */

div#footer {
float: left; 
position: relative;
z-index: 9999;
background: grey;
width: 100%;
padding: 20px 0px 100px 0px;
margin-top:  4.14%; /* 53.5/1292 = .0414 */
}

div#footer p {
text-align: right;
padding-right: 30px;
color: white;
}


/* style for previous content
div.shortworks {
float: left; 
/* background: #BEB698; */
/*width: 43.65%; /*  564 / 1292 = .4365  */
/* padding: 15px 15px 50px 20px; */
/*margin: 15px;
margin-bottom: 40px;
border-radius: 30px;
}
*/

/*
div.shortworks h3 {
border-top: 10px solid green;
font-weight: bold;
float: left;
/*margin-right: 30px; */
}
/* div.shortworks img {
border: 1px solid black;
}
*/



