/* screen.css: Screen Styles */

/* Base Styles */

/* colors
muted purple: #5B5870 (k in logo)
muted teal: #525C6A
muted 

*/

/* ids and classes
html, #page, (#body), #topblock, #header, #nav???, .home, .about, .work, .connect
index: home-about, content-body, sidebar, content, shortworks, connect-short, footer
index . : home, about, work, connect, blurb, short-works
about: 
work: 
print:
digital:


to do: html 5 ids (e.g. footer)
*/


/*************************ALL PAGES************/
html {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background: #E0DFDD;
    background-image: -ms-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%); /* IE*/
    background-image: -moz-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%); /* Mozilla Firefox */ 
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #C1C0BE 100%); /* Opera */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #C1C0BE)); /* Webkit (Safari) */  
}

body { 
    display: block;
}

div#page {
    margin: 0em; 
    /*padding: 0 1em;*/
    /*max-width: 80.75em; 1292 / 16px= 80.75%*/
}

/************Header ********/
div#topblock {
    width: 100%;
    padding: 10px 0px 0px 0px;
    background: #493D55;
   -webkit-box-shadow: inset 0px -7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 0px 7px 7px -7px #000;
}

div#header {
    display: block;
    width: 92%;     /*  1254/1366= .918 */
    margin: auto;
    margin-top: .3em;
}

div#header img {
/* width:  27.05%;    349.5 / 1292 = .2705 */
    width: 349.5px;
}

/*****Navigation* HTML5??? nav */
ul#navigation {
    /*width: 39.62% ;     512 / 1292 = .3962  */
    display: inline;
    float: right;
     /*margin-left: 9.52%;   distance between logo header and navigation     123 / 1292= .0952    */
}

ul#navigation li a{
    font-family: "Karla", Georgia, serif;
    /*font-weight: bold;  */
    font-size: 1.1em;
    color: #fff;
    text-align: center;
}

.about, .work, .home, .connect {
    width: 9.9%;     /*128 / 1292 = .0990 */
    float: left;
    padding: 100px 35px 15px 35px; 
    margin: 0px;
    border-radius: 50px;
    -webkit-box-shadow: inset 6px -7px 7px -9px #000; 
    -moz-box-shadow: inset 6px -7px 7px -9px #000; 
    box-shadow: inset 6px -7px 7px -9px #000;
}

.home {
    background-color: #434157;
    border-bottom-left-radius: 15px;
}

.about {
    background-color: #3B4652;
     border-bottom-left-radius: 15px;
}

.work {
    background-color: #493D55;
     border-bottom-left-radius: 15px;
}

.connect {
    background-color: #43405D;
    border-bottom-right-radius: 15px;
}

.home:active, .home:hover,
.about:active, .about:hover,
.work:active, .work:hover  {
    border-bottom-left-radius: 15px; 
    padding-top: 110px; /***DOES THIS WORK IN ALL BROWSERS?*/
}
.connect:active, .connect:hover {
    border-bottom-right-radius: 15px;
    padding-top: 110px;
}


/********************INDEX */
div#big-blurb-home {
   display: block;
    width: 100%;
    float: left;
   /* margin-right: 400px; */
    /*padding: 20px 400px 0px 80px; */
}

div#home-about{
    display: block;
    position: relative;
    float: left;
    width: 100%;     /*308 / 1292 = .23839  */
    /* margin: 200px 20px 0px 30px;
    padding: 15px 15px 400px 20px;
    background-color: #D0C8B4;
    margin-top: .*/
}

div#home-about {
    background: rgb (197, 214, 215);
    background: rgba(197, 214, 215, 0.2);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 30px solid #C5D6D7;
}
p.blurb {
    font-size: 1.5em;
    color: #3D3348;
}


/******* Non-Index/Home Pages */
/*Introductory Large text */
div#wrapper {
    width: 82%; /*  1115/1366= .816 */
    margin: 0 auto;
    clear: both;
    /*background: yellow;*/
}

div#big-blurb {
    position: absolute; 
     width: 30%;
  float: left; 
    z-index: 10;
  /* margin-right: 400px; */
  /*padding: 20px 400px 0px 80px; */
}

div#big-blurb {
font-size: 9em;  
font-family: "Montserrat", "Myriad Pro", Arial, serif;
color: /*#7E92A9*/ rgba(197, 214, 215, 0.6);
font-weight: 700;
  /*margin-left:  12.69%;      164 / 1292= .1269    */
margin-bottom:  3.25%;      /*   42 / 1292 = .0325   */
/* margin-top:  4.2%;     / 1292 =  .0727  */
}

div#big-blurb-home {
  display: block;
  width: 80%;
  float: left;
  /* margin-right: 400px; */

/*padding: 20px 400px 0px 80px; */
}
div#big-blurb-home {
font-size: 3.8em;  
font-family: "Montserrat", "Myriad Pro", Arial, serif;
color: #7E92A9;
font-weight: 700;
  /*margin-left:  12.69%;      164 / 1292= .1269    */
margin-bottom:  3.25%;      /*   42 / 1292 = .0325   */
margin-top:  7.2%;  /*   / 1292 =  .0727  */
}


div#content {
/* position: relative;  */
display: block;
position: relative;
z-index: 15;
clear: both;
width: 100%;   /* 1115 / 1366 = .8162 */
/*margin: auto;*/
/* background-color: red; */
margin-top:  10em; /* 53.5/1292 = .0414 */
/*  margin: 170px 10px 0px 0px;  */
}

div#work-content {
/* position: relative;  */
float: left;
width: 78%; /*53.87%;   696 / 1292 = .53869  */
margin-top:  4.14%; /* 53.5/1292 = .0414 */
margin-left: 40%;
/*  margin: 170px 10px 0px 0px;  */
}

div#work-content h2{
font-size: 3em;
color: grey;
font-family: Impact, sans-serif;
}

div#short-print, div#short-digital {
display: block;
position: relative;
float: left;
width: 48%;  /*  492/1292= .3808    math is too short, actual percentage is guesstimate*/
padding-bottom:   4.14%; /* 53.5/1292 = .0414 */

}

div#short-print {
/* background: pink; */
}

div#short-print h2 {
text-align: center;
font-size: 2.5em;
color: white;
font-weight: bold;
}

div#short-print img {
position: relative;
float: left;
}

div#short-print p {
font-size: 1.2em;
color: grey;
}

div#short-digital {
margin-left: 1.54%;   /* 20/1292= .015479 */
/* background: orange; */
}

div#short-digital h2 {
text-align: center;
font-size: 2.5em;
color: gray;
font-weight: bold;

}

div#short-digital img {
position: relative;
float: left;
}

div#work-print, div#work-digital {
display: block;
position: relative;
float: left;
width: 50%;  /*  492/1292= .3808    math is too short, actual percentage is guesstimate*/
padding-bottom:   4.14%; /* 53.5/1292 = .0414 */
}


.digital {
text-transform: uppercase;
color: gray;
font-size: 1.1em;
margin-right: 20px;
margin-left: 20px;
}

.print {
text-transform: uppercase;
color: #BEC1E3;
font-size: 1.1em;
margin-right: 20px;
}

.print a {
    color: #7698A1;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
}

.digital a {
    color: #ADBC93;
    font-weight: bold;
    font-size: 3em;
    text-transform: uppercase;
}

div#print-digital h2{
    display: inline;
    margin-left: 100px;
}

/***********Styles Specific To About, Work Pages */
@media screen (min-width:1275px)   {
div#about, div#work {
    display: block;
    margin-left: 36%;  /* 501/1366= .3667*/
    margin-top: 5%;
    background: rgb (197, 214, 215);
    background: rgba(197, 214, 215, 0.2);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 30px solid #C5D6D7;
    padding: 2em;
}

div#about p, div#work ul, div#work p {
    font-family: "Lato", /*"Noto Sans", "Puritan", "Sans Source Pro", "Varela", */Arial, sans-serif;
    margin-bottom: 1.3em;
    font-size: 1em;
    line-height: 1.6em;
    color: #484754;
}

div#work h3, div#about h3 {
    color: #43405D;
    font-family: "Lato", Arial, sans-serif;
    font-size: 1.9em;
    line-height: 2.1em;
}

div#work ul{
    color: #43405D;
    font-size: 1.1em;
    margin-left: 20px;
   -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}

div#work li{
    margin-right: 30px;
}



} /******end 1275px @media screen ********/

/*@media screen (min-width:1000px)   {
div#about {
    display: block;
    margin-left: 25%; 
    margin-top: 5%;
    background: rgb (197, 214, 215);
    background: rgba(197, 214, 215, 0.3);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: 30px solid #C5D6D7;
    padding: 2em;
}

div#about p {
    margin-bottom: 1.3em;
    font-size: 1em;
    line-height: 1.6em;
    color: #484754;
}*/


} /*******end 1000px @media screen ******/


.highlight-blue {
color: #96A3B4;
}
.highlight-green {
color: #6B956B;
}

.highlight-purple {
    color: #BEC1E3;
}


/*  Footer   */

div#footer {
    min-width: 100%;
    clear: both;
    background: #434157;
    padding: 20px 0px 100px 0px;
    margin-top:  4.14%; /* 53.5/1292 = .0414 */
    -webkit-box-shadow: inset 0px 7px 7px -7px #000; 
    -moz-box-shadow: inset 0px 7px 7px -7px #000; 
    box-shadow: inset 0px 7px 7px -7px #000; 
}

div#container {
    
}
div#contact {
    width: 91%;
    margin: auto;
    font-family: "Karla", Arial, sans-serif;
   
}

div#contact h3 {
    font-size: 2.1em;
    color: white;
     font-weight: 700;
}

div#contact p a{
    display: inline;
    color: white;
}

div#contact img {
    width: 30px;
}

div#commons p {
    float: right;
    color: #fff;
}

div#commons p a {
    color: #BEC1E3;
}




